<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">
  <targets async="true">
    <target xsi:type="Console" name="console" layout="${MicrosoftConsoleLayout}" />

    <target xsi:type="File" name="file" fileName="logs/app-${shortdate}.log" maxArchiveFiles="7">
      <layout xsi:type="MicrosoftConsoleJsonLayout" includeScopes="true" includeActivityIds="true" />
    </target>
  </targets>
  <rules>
    <!-- Reduce noise from ASP.NET framework, and route relevant logging to output targets -->
    <logger name="System.*" finalMinLevel="Warning" />
    <logger name="Microsoft.*" finalMinLevel="Warning" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="*" minLevel="Info" writeTo="console,file" />
  </rules>
</nlog>